
html {
    box-sizing: border-box;
    font-size: 62.5% /** Reset para REMS - 62.5% = 10 px de 16 px **/
}

*, *:before, *:after{
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem; /** = 1200px **/
    margin: 0 auto;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.6rem;
}

/* Utilidades */
.seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto{
    text-align: center;
}

/* Botones */
.boton{
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block; /* para modificar un enlace debe de cambiar el display */
}
.boton-amarillo {
    background-color: #E08709;
}
.boton-verde {
    background-color: #71B100;
}

/* Header */
.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2;
    font-size: 3.8rem;
}
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.8rem; /** = 18px **/
    margin-right: 2rem;
}

.navegacion a:hover {
    color: #71B100;
}

.navegacion a:last-of-type {
    margin: 0;
}

/** iconos nosotros **/
.iconos-nosotros{
    display: flex;
    justify-content: space-between;
}

.iconos{
    flex-basis: calc( 33.3% - 1rem );
    text-align: center;
}

.iconos h3 {
    text-transform: uppercase;
}

/* anuncios */
.contenedor-anuncios{
    display: flex;
    justify-content: space-between;
}

.anuncio {
    flex-basis: calc( 33.3% - 1rem );
    border: 1px solid #B5B5B5;
    background-color: #F5F5F5;
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3, .contenido-anuncio p {
    margin: 0;
}

.precio {
    color: #71B100;
    font-weight: 700;
}